* {
    font-family:monospace;
}
img {
    width: 100%;
}
h2 {
    font-size: 28px;
    padding: 16px;
    background-color: blanchedalmond;
    border-radius: 12px 40px;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(.25turn, red, 10%, blue);
}